/* Estilos base */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fbfef9;
}

header {
  background-color: #247ba0;
  color: white;
  padding: 14px;
  text-align: center;
}

.header-content {
  display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

nav ul {
  list-style-type: none;
  /* Elimina los puntos de la lista */
  padding: 20px;
  margin: 0;
  /* Ajusta el margen como sea necesario */
  overflow: hidden;
}

nav li {
  display: inline;
  /* Muestra los elementos de la lista en línea */
  margin-right: 20px;
  /* Espacio entre los elementos de la lista */
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1em;
}

main {
  padding: 1em;
  max-width: 1200px;
  /* Ajusta según el ancho deseado */
  margin: auto;
  min-height: calc(100vh - 300px);
  /* Centra el contenido principal */
}


/* Estilos para las secciones */
.introduccion,
.contenido {
  margin-bottom: 1em;
}

.title-and-nav {
  text-align: center;
  flex-grow: 1;
}

.title-and-nav h1 {
  margin: 0;
}

.main-iot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.seccion-iframe {
  width: 50%;
  text-align: end;
}

.seccion-imagen {
  width: 50%;
  text-align: center;
}

.imagen-redonda {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  display: block;
  border: 5px solid #247ba0;
}

.seccion-imagen img {
  width: 80%;
  height: auto;
}

.imagenes-juntas {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem;
}

.li-imagen-juntas {
  display: flex;
  justify-content: space-between;
  margin: 3rem;
}

.li-imagen-juntas div {
  width: 45%;
}

.iot-aplicaciones li {
  margin: 0.5rem;
}

.imagenes-juntas img {
  width: 45%;
  height: 273px;
}

.seccion-texto {
  width: 50%;
  text-align: justify;
}

.imagen-texto {
  height: auto;
  display: block;
  margin: 1em auto;
  border-radius: 8px;
}

h1 {
  color: #fbfef9;
  font-size: 36px;
}
h2 {
  color: #1a1d1a;
  font-size: 30px;
  text-align: center;
  /* Cambio de color de texto */
}

hr {
  border: 0;
  height: 1px;
  width: 100%;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

h3 {
  font-size: 18pt;
  color: #222;
  padding: 10px 10px 10px 0;
  margin: 10px 0;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

p {
  color: #1a1d1a;
  font-size: 13pt;
  padding: 6px 0;
  margin: 0;
  text-align: justify;
  font-weight: 500;
  line-height: 1.3;
}

/* Estilos para el footer */
footer {
  background-color: #247ba0;
  color: white;
  bottom: 0;
  padding: 20px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 10;
}

footer p {
  color: #fbfef9;
  text-align: center;
}

.inicio-button {
  background-color: #1A1D1A;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  margin-right: 20px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1em;
}

/* Agrega estilos adicionales según sea necesario */
